<!----------------------------------------------------------------------------------------------
                          one Address is ByDefault Checked in FormArray
----------------------------------------------------------------------------------------------->

<!-- <form [formGroup]="myForm">
  <div formArrayName="addresses">
    <div *ngFor="let address of addresses.controls; let i=index" [formGroupName]="i">
      <input formControlName="street" placeholder="Street">
      <input formControlName="city" placeholder="City">
      <input formControlName="country" placeholder="Country">
      <label>
        Is Default:
        <input type="checkbox" formControlName="isDefault">
      </label>
      <button type="button" (click)="removeAddress(i)">Remove</button>
    </div>
  </div>
  <button type="button" (click)="addAddress()">Add Address</button>
</form> -->



<!-- dynamic-form.component.html -->
<br><br>
<form [formGroup]="addressForm">
  <div formArrayName="address">
    <div *ngFor="let addressGroup of addressForm.get('address')?.value; let i = index" [formGroupName]="i">
      <input type="text" formControlName="street">
      <input type="text" formControlName="city">
      <mat-checkbox formControlName="isPrimary">Primary Address</mat-checkbox>
      <button (click)="removeAddress(i)">Remove Address</button>
    </div>
  </div>
  <button (click)="addAddress()">Add Address</button>
</form>